# [bw-loop]
CALI_SERVICES_ENABLE=event,pcp.memory,report,trace
CALI_EVENT_TRIGGER=loop
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_REPORT_CONFIG="select scale(mem.bytes.read,1e-6) as \"MB (r)\",scale(mem.bytes.written,1e-6) as \"MB (w)\", ratio(mem.bytes.read,pcp.time.duration,1e-6) as \"MB/s (r)\",ratio(mem.bytes.written,pcp.time.duration,1e-6) as \"MB/s (w)\", sum(pcp.time.duration) as Time format tree"

# [bw-kernels]
CALI_SERVICES_ENABLE=event,pcp.memory,report,trace
CALI_EVENT_TRIGGER=annotation
CALI_EVENT_ENABLE_SNAPSHOT_INFO=false
CALI_REPORT_CONFIG="select ratio(mem.bytes.read,pcp.time.duration,1e-6) as \"MB/s (r)\", sum(pcp.time.duration) as Time group by annotation where annotation format table"
